.floating-box{
  padding: 1cm;
  background-color: rgba(255, 255, 255, 0.642);
  border-radius: 10px;
}

.floating-box button{
  width: 100%;
}

body{
  background-image: url('../image/background/login_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
}


